.cabinet p {
    position: absolute;
}

.subtitle{
position: absolute;
color:white;
font-size: 14px;
padding-left: 1rem;
padding-top: 5rem;
}

.titre h1, .titre p {
    z-index: 2;
}

.layoutVideo {
    background-color: #f0ece4;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.layout {
    background-color: #f0ece4;
    padding: 40px;
    margin-right: auto;
    margin-left: auto;
}

.layout h2 {
    font-size: 2rem;
}

.footer {
    background-color: #64141D;
}

.navcolor {
    background-color: #64141D;
    font-family: 'Poppins';font-size: 16px;
}

.navcolor ul {
    background-color: #64141D;
}

.flexpresentation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.flexpresentation > div {
    max-width: 33%;
}

.button {
    background-color: #64141D;
    text-decoration: underline;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}
